<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appointmentmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.appointmentmanager.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateA"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Delete"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".SelectDelete"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewSelect"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelectMove"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Move"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Translate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelectTranslate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelectSearch"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>